<% if (user) { %>
    <%- include('./partials/logged-in-header') %>
<% } else { %>
    <%- include('./partials/header') %>   
<% } %>
<main class="container">
        <!-- <button id="add" type="submit">Add Item to db</button> -->
        <!-- <div>
            <a href="/menu/insert" > Add Data</a>
        </div>
           -->
        <h1>Pick Your Favorite Chairs</h1>
        <h3>Move To The Menu To Browse More Chairs And Sign Up To Make Your Order</h3>
    <div class="row justify-content-around mt-5">
        <div id="carousel">
            <img src="/imgs/5.png" class="active">
            <img src="/imgs/4.png">
            <img src="/imgs/2.png" >
            <img src="/imgs/1.png" >

        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>